.opening-section {
	padding-top: calc(130/$bfs)+rem;
	text-align: center;
	background-color: $color-white;
	color: $color-black;
	margin-top: 70px;

	@include fOpS(16, 400, 22);

	h2 {
		@include fRal(49, 400, 57) {
			margin-bottom: calc(20/$bfs)+rem;
		}
	}

	p {
		margin-bottom: calc(38/$bfs)+rem;
	}

	.btn__immitation {
		@include btn($color-primary, $color-white, 67, 440, 40) {
			font-weight: 700;
		}
	}

	.opening-img {
		// width: 100%;
		// height: 0;
		// position: relative;
		// padding-bottom: 56.25%;
		/* 16:9 */

		img {
			width: 100%;
			height: auto;
			// width: 100%;
			// height: 100%;
			// position: absolute;
		}
	}
}