@mixin changeColor() {
	@for $i from 1 through 10 {
		.block#{$i} {
			@if ($i % 2==0) {
				background-color: orange;
			}

			@else {
				background-color: blue;
			}
		}
	}


}


body {
	border: 13px solid red;
	@include changeColor();
}